# Filipino Family Income and Expenditure

### Members:
- Fernando Magallenes Jr.
- Heinze Kristian Moneda
- Azriel Matthew Ortega
- Caleb James Sonoy
- Darren Tan

## The Dataset

## Importing Libraries

In order to analyze the dataset the following modules are required to be imported in python.

- numpy is a library made up of multidimensional array objects and a collection of routines for processing those arrays.
- pandas is a software library for Python that is designed for data manipulation and data analysis.
- matplotlib is a software libary for data visualization, which allows us to easily render various types of graphs.

In [66]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Importing the Dataset

First step is to load the dataset using the pandas library. To load the dataset into a pandas Dataframe object, we call the `read_csv` function. The arguments needed for the function is the path to the csv file.

In [67]:
income_df = pd.read_csv("Family Income and Expenditure.csv")

In [68]:
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41544 entries, 0 to 41543
Data columns (total 60 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Total Household Income                         41544 non-null  int64
 1   Region                                         41544 non-null  object
 2   Total Food Expenditure                         41544 non-null  int64
 3   Main Source of Income                          41544 non-null  object
 4   Agricultural Household indicator               41544 non-null  int64
 5   Bread and Cereals Expenditure                  41544 non-null  int64
 6   Total Rice Expenditure                         41544 non-null  int64
 7   Meat Expenditure                               41544 non-null  int64
 8   Total Fish and  marine products Expenditure    41544 non-null  int64
 9   Fruit Expenditure                              41544 non-null  int64
 10  Vegetables Expenditure                         41544 non-null  int64
 11  Restaurant and hotels Expenditure              41544 non-null  int64
 12  Alcoholic Beverages Expenditure                41544 non-null  int64
 13  Tobacco Expenditure                            41544 non-null  int64
 14  Clothing, Footwear and Other Wear Expenditure  41544 non-null  int64
 15  Housing and water Expenditure                  41544 non-null  int64
 16  Imputed House Rental Value                     41544 non-null  int64
 17  Medical Care Expenditure                       41544 non-null  int64
 18  Transportation Expenditure                     41544 non-null  int64
 19  Communication Expenditure                      41544 non-null  int64
 20  Education Expenditure                          41544 non-null  int64
 21  Miscellaneous Goods and Services Expenditure   41544 non-null  int64
 22  Special Occasions Expenditure                  41544 non-null  int64
 23  Crop Farming and Gardening expenses            41544 non-null  int64
 24  Total Income from Entrepreneurial Acitivites   41544 non-null  int64
 25  Household Head Sex                             41544 non-null  object
 26  Household Head Age                             41544 non-null  int64
 27  Household Head Marital Status                  41544 non-null  object
 28  Household Head Highest Grade Completed         41544 non-null  object
 29  Household Head Job or Business Indicator       41544 non-null  object
 30  Household Head Occupation                      34008 non-null  object
 31  Household Head Class of Worker                 34008 non-null  object
 32  Type of Household                              41544 non-null  object
 33  Total Number of Family members                 41544 non-null  int64
 34  Members with age less than 5 year old          41544 non-null  int64
 35  Members with age 5 - 17 years old              41544 non-null  int64
 36  Total number of family members employed        41544 non-null  int64
 37  Type of Building/House                         41544 non-null  object
 38  Type of Roof                                   41544 non-null  object
 39  Type of Walls                                  41544 non-null  object
 40  House Floor Area                               41544 non-null  int64
 41  House Age                                      41544 non-null  int64
 42  Number of bedrooms                             41544 non-null  int64
 43  Tenure Status                                  41544 non-null  object
 44  Toilet Facilities                              41544 non-null  object
 45  Electricity                                    41544 non-null  int64
 46  Main Source of Water Supply                    41544 non-null  object
 47  Number of Television                           41544 non-null  int64
 48  Number of CD/VCD/DVD                           41544 non-null  int64
 49  Number of Component/Stereo set                 41544 non-null  int64
 50  Number of Refrigerator/Freezer                 41544 non-null  int64
 51  Number of Washing Machine                      41544 non-null  int64
 52  Number of Airconditioner                       41544 non-null  int64
 53  Number of Car, Jeep, Van                       41544 non-null  int64
 54  Number of Landline/wireless telephones         41544 non-null  int64
 55  Number of Cellular phone                       41544 non-null  int64
 56  Number of Personal Computer                    41544 non-null  int64
 57  Number of Stove with Oven/Gas Range            41544 non-null  int64
 58  Number of Motorized Banca                      41544 non-null  int64
 59  Number of Motorcycle/Tricycle                  41544 non-null  int64
dtypes: int64(45), object(15)
memory usage: 19.0+ MB

## Exploratory Data Analysis

## Data Cleaning
In this step, we will check if the dataset contains some errors or issues like null values, wrong encodings/spelling, duplicates, and inconsistencies. It is important to clean our data in order to avoid problems when performing analyses.

### Checking for Nulls

In [69]:
income_df.isna().sum()

Total Household Income                              0
Region                                              0
Total Food Expenditure                              0
Main Source of Income                               0
Agricultural Household indicator                    0
Bread and Cereals Expenditure                       0
Total Rice Expenditure                              0
Meat Expenditure                                    0
Total Fish and  marine products Expenditure         0
Fruit Expenditure                                   0
Vegetables Expenditure                              0
Restaurant and hotels Expenditure                   0
Alcoholic Beverages Expenditure                     0
Tobacco Expenditure                                 0
Clothing, Footwear and Other Wear Expenditure       0
Housing and water Expenditure                       0
Imputed House Rental Value                          0
Medical Care Expenditure                            0
Transportation Expenditure                          0
Communication Expenditure                           0
Education Expenditure                               0
Miscellaneous Goods and Services Expenditure        0
Special Occasions Expenditure                       0
Crop Farming and Gardening expenses                 0
Total Income from Entrepreneurial Acitivites        0
Household Head Sex                                  0
Household Head Age                                  0
Household Head Marital Status                       0
Household Head Highest Grade Completed              0
Household Head Job or Business Indicator            0
Household Head Occupation                        7536
Household Head Class of Worker                   7536
Type of Household                                   0
Total Number of Family members                      0
Members with age less than 5 year old               0
Members with age 5 - 17 years old                   0
Total number of family members employed             0
Type of Building/House                              0
Type of Roof                                        0
Type of Walls                                       0
House Floor Area                                    0
House Age                                           0
Number of bedrooms                                  0
Tenure Status                                       0
Toilet Facilities                                   0
Electricity                                         0
Main Source of Water Supply                         0
Number of Television                                0
Number of CD/VCD/DVD                                0
Number of Component/Stereo set                      0
Number of Refrigerator/Freezer                      0
Number of Washing Machine                           0
Number of Airconditioner                            0
Number of Car, Jeep, Van                            0
Number of Landline/wireless telephones              0
Number of Cellular phone                            0
Number of Personal Computer                         0
Number of Stove with Oven/Gas Range                 0
Number of Motorized Banca                           0
Number of Motorcycle/Tricycle                       0
dtype: int64

After performing null checking, we can see that there are null values in 2 variables like `Household Head Occupation` and `Household Head Class of Worker`.

### Replacing of Nulls
It is shown that there is a significant number of observations with null values for both variables. Instead of removing them, we will replace them with a sentinent value of `Other` to identify these observations as they can still be used for analysis.

### `Household Head Occupation` variable

In [70]:
income_df['Household Head Occupation'].value_counts()

Farmhands and laborers                                                                 3478
Rice farmers                                                                           2849
General managers/managing proprietors in wholesale and retail trade                    2028
General managers/managing proprietors in transportation, storage and communications    1932
Corn farmers                                                                           1724
                                                                                       ...
Petroleum and natural gas refining plant operators                                        1
Builders (traditional materials)                                                          1
Personal care and related workers, n. e. c.                                               1
Riggers and cable splicers                                                                1
Glass, ceramics and related plant operators n. e. c.                                      1
Name: Household Head Occupation, Length: 378, dtype: int64

In [71]:
income_df['Household Head Occupation'].unique()

array(['General elementary education teaching professionals',
       'Transport conductors', 'Farmhands and laborers', 'Rice farmers',
       'General managers/managing proprietors in transportation, storage and communications',
       'Heavy truck and lorry drivers', nan, 'Hog raising farmers',
       'Vegetable farmers',
       'General managers/managing proprietors in wholesale and retail trade',
       'Stocks clerks', 'Justices', 'Other social science professionals',
       'Protective services workers n. e. c.', 'Secretaries',
       'Electronics mechanics and servicers',
       'Foresters and related scientists',
       'Shop salespersons and demonstrators',
       'College, university and higher education teaching professionals',
       'General managers/managing proprietors of restaurants and hotels',
       'Welders and flamecutters', 'Car, taxi and van drivers',
       'Motor vehicle mechanics and related trades workers',
       'Traditional chiefs and heads of villages', 'Motorcycle drivers',
       'Statistical, mathematical and related associate professionals',
       'Lineman, line installers and cable splicers',
       'Carpenters and joiners', 'Building construction laborers',
       'General managers/managing proprietors in manufacturing',
       'Masons and related concrete finishers', 'Legislative officials',
       'Inland and coastal waters fishermen',
       'Painters and related workers',
       'Construction and maintenance laborers: roads, dams and similar constructions',
       'Helpers and cleaners in offices, hotels and other establishments',
       'General managers/managing proprietors n. e. c.',
       'Messengers, package and luggage porters and deliverers',
       'Social work associate professionals',
       'Hand packers and other manufacturing laborers',
       'Door-to-door and telephone salespersons',
       'Hand launderers and pressers', 'Sweepers and related laborers',
       'Medical technologists',
       'Production and operations managers in agriculture, hunting, forestry and fishery',
       'Corn farmers', 'Cooks', 'School supervisors and principals',
       'Tailors, dressmakers and hatters',
       'Wood and related products assemblers',
       'Police inspectors and detectives', 'Coconut farmers',
       'Root crops farmers', 'Fruit tree farmers',
       'Coffee and cacao farmers', 'Forestry laborers',
       'Other office clerks',
       'General managers/managing proprietors of business services',
       'School principals', 'Civil engineers', 'Prison guards',
       "Ship's deck crews and related workers", 'Assembling laborers',
       'Tellers and other counter clerks',
       'Government administrators (including career executive service officers)',
       'Plumbers, pipe fitters and other related workers',
       'Mechanical engineering technicians', 'Street ambulant vendors',
       'Production supervisors and general foremen', 'Food preservers',
       'Basketry weavers, brush makers and related workers',
       'Statistical and finance clerks',
       'Non-ordained religious associate professionals',
       'Wood products machine operators',
       'Building and related electricians',
       'Production and operations managers in restaurant and hotels',
       'Other supervisors, n. e. c.', 'Other orchard farmers',
       'Building caretakers',
       'Doorkeepers, watchpersons and related workers',
       'Waiters, waitresses and bartenders',
       "Ships' deck officers and pilots", 'Child care workers',
       'Mining and quarrying laborers', 'Religious professionals',
       'Earth-moving and related plant operators',
       'General managers/managing proprietors in agriculture, hunting, forestry and fishing',
       'Motorized farm and forestry plant operators',
       'Domestic helpers and cleaners',
       'Broadcasting and telecommunications equipment operators',
       'General secondary education teaching professionals',
       'Accounting and bookkeeping clerks',
       'Chemical processing plant operators n. e. c.', 'Freight handlers',
       'Fishery laborers and helpers', 'Data entry operators',
       'Miners and quarry workers', 'Police officers',
       'Cabinet/furniture makers and related workers', 'Duck raisers',
       'Blacksmiths, hammersmiths, and forging-press workers',
       'General managers/managing proprietors in personal care, cleaning and relative services',
       'Butchers, fishmongers and related food preparers',
       'Cotton and fiber crops farmers', 'Forest tree planters',
       'Bet bookmakers and croupiers', 'Transport clerks',
       'Enlisted personnel n. e. c.',
       'Directors and chief executives of corporations',
       'Combat soldiers', 'Concessionaires and loggers',
       'Institution-based personal care workers',
       'Market and sidewalk stall vendors',
       'Minor forest products gatherers',
       'Debt collectors and related workers',
       'Vocational education teaching professionals',
       'Wood processing plant operators', 'Shotfirers and blasters',
       'Fruit, vegetable and nut processing machine operators',
       'Lifting truck operators',
       'Bakers, pastry cooks and confectionery makers',
       'Photographic products machine operators',
       'Rattan, bamboo and other wicker furniture makers',
       'Chicken farmers', 'Mining-plant operators',
       'Rubber products machine operators',
       'Pawnbrokers and money lenders', 'Sheet-metal workers',
       'Fish-farm cultivators (excluding prawns)',
       'General managers/managing proprietors in construction',
       'Stall and market salespersons',
       'Handicraft workers in wood and related materials',
       'Weavers, knitters and related workers',
       'Traditional medicine practitioners',
       'Personnel and industrial relations managers',
       'Cement and other mineral products machine operators',
       'Firefighters', 'Undertakers and embalmers',
       'Hairdressers, barbers, beauticians and related workers',
       'Shoe cleaning and other street services elementary occupations',
       'Silk-screen, block and textile printers',
       'Choreographers and dancers', 'Garbage collectors',
       'Ornamental plant growers', 'Cashiers and ticket clerks',
       'Varnishers and related painters', 'Accountants and auditors',
       'Personal care and related workers, n. e. c.',
       'Library and filing clerks', 'Cattle and dairy farmers',
       'Structural-metal preparers, erectors and related workers',
       'Other livestock farmers',
       'Production and operations managers in transport, storage and communications',
       'Sales and marketing managers',
       'Grain and spice milling machine operators', 'Deep-sea fishermen',
       'Mechanical engineers',
       'Production and operations managers in manufacturing',
       'Agronomists and related scientists',
       'Research and development managers',
       'Computer equipment operators',
       'Other administrative associate professionals', 'Bookkeepers',
       'Midwifery associate professionals',
       'Other machine operators and assemblers',
       'Sewers, Embroiderers and related workers',
       'Safety, health and quality inspectors (vehicles, processes and products)',
       'Electronic equipment assemblers',
       'Textile, leather and related patternmakers and cutters',
       'Roofers', 'Other field crop farmers', 'Sugarcane farmers',
       'Power production plant operators', 'Other poultry farmers',
       'Metal-wheel grinders, polishers and tool sharpeners',
       'Other computer professionals', 'Electrical mechanics and fitters',
       'Metal finishing, plating and coating machine operators',
       'Professional nurses',
       'Professional, technical and related officers',
       'Charcoal makers and related workers',
       'Athletes and related workers',
       'Decorators and commercial designers',
       'Automated assembly-line operators',
       'Labor contractors and employment agents',
       'Sugar production machine operators', 'Veterinary assistants',
       'Glass makers, cutters, grinders and finishers',
       'Production and operations managers in personal care, cleaning and relative services',
       'Tool-makers and related workers',
       'Transport and communications service supervisors n. e. c.',
       'Other specialized managers', 'Riggers and cable splicers',
       'Production and operations managers in wholesale and retail trade',
       'Field legumes farmers', 'Staff officers', 'Estate agents',
       'Technical and commercial sales representatives',
       'Computer programmers', 'Receptionists and information clerks',
       'Pharmacists', 'Housekeepers and related workers',
       'Appraisers and valuers', 'Government tax and excise officials',
       'Administrative secretaries and related associate professionals',
       'Bus drivers', 'Teaching associate professionals', 'Architects',
       'Finance and administration managers', 'Commanding officers',
       'Nutritionists-dietitians', 'Professional midwives',
       'Street, nightclub and related musicians, singers and dancers',
       'Electrical Engineers',
       'Mining and metallurgical engineering technicians', 'Draftsmen',
       'Computer engineers and related professionals',
       'Other life science technicians', 'Dairy products makers',
       'Legal and related business associate professionals',
       'Mail carriers and sorting clerks',
       'Well drillers and borers and related workers',
       'Other business professionals',
       'Production and operations managers in construction',
       'Farm technicians', 'Economists',
       'Building frame and related trades workers n. e. c.', 'Chemists',
       'Insurance representatives', 'Civil engineering technicians',
       'Word processor and related operators', 'Production clerks',
       'Meat and fish processing machine operators',
       'Other personal services workers, n. e. c.',
       'Crane, hoist and related plant operators',
       'Composers, musicians and singers',
       'Photographers and image and sound recording equipment operators',
       'Hand or pedal vehicle drivers', 'Statisticians',
       'Customs and immigration inspectors',
       'Electronics and communications engineers',
       'Fashion and other models',
       'Metal melters, caster and rolling mill operators',
       'Weaving and knitting machine operators',
       'Personnel and human resource development professionals',
       'Mechanical machinery assemblers',
       'Workers reporting occupations unidentifiable or inadequately defined',
       'Sales supervisors in retail trade', 'Metal drawers and extruders',
       'Floor layers and tile setters', 'Systems analysts and designers',
       'Government licensing officials',
       'Librarians, archivists and curators',
       'Incinerator, water treatment and related plant operators',
       'Town planners and related professionals',
       'Home-based personal care workers',
       'Education methods specialists',
       'Sculptors, painters and related artists', 'Buyers',
       'Other health associate professionals (except nursing)',
       'Precision instrument makers and repairers', 'Medical assistants',
       'Medical doctors', 'Compositors, typesetters and related workers',
       'Faith healers', 'Travel consultants and organizers',
       'Air transport service supervisors', 'Companions and valets',
       'Senior officials of humanitarian and other special-interest organizations',
       'Electrical equipment assemblers',
       'Metal, rubber and plastic products assemblers',
       'Electronics and communications engineering technicians',
       'Industrial engineers',
       'Baked goods and cereal and chocolate products machine operators',
       'Metal molders and coremakers', 'Lawyers', 'Dentists',
       'Marine craft mechanics',
       'Pre-elementary education teaching professionals',
       'Bookbinders and related workers',
       'Jewelry and precious metal workers', 'Travel guides',
       'Social work professionals',
       'Musical instrument makers and tuners',
       'Machine-tool setters and setter operators',
       'Stenographers and typists',
       'Stone splitters, cutters and carvers',
       'Ship and aircraft controllers and technicians',
       'Photographic and related workers', 'Computer assistants',
       'Aircraft engine mechanics and fitters',
       'Production and operations managers in business services',
       'Woodworking machine setters and setter-operators',
       'Food and beverage tasters and graders',
       'Technical and vocational instructors/trainors', 'Trade brokers',
       'Radio, television and other announcers',
       'Air traffic safety technicians', 'Other plant growers',
       'Pressman letterpresses and related workers',
       'Other health professionals (except nursing)',
       'Mineral ore and stone-processing plant operators',
       'Shoemakers and related workers',
       'Agricultural or industrial machinery mechanics and fitters',
       'Nonformal education teaching professionals other than technical and vocational trainors/instructors',
       'Seaweeds cultivators', 'Upholsterers and related workers',
       'Sales supervisors in wholesale trade', 'Insulation workers',
       'Machine tool operators', 'Authors, journalists and other writers',
       'Technician, skilled, semi-skilled workers',
       'Tobacco preparers and tobacco products makers',
       'Other physical science and engineering technicians',
       'Other sales supervisors',
       'Brewers and wine and other beverage machine operators',
       'Supply and distribution managers', 'Papermaking plant operators',
       'Pharmaceutical and toiletry products machine operators',
       'Paperboard, textile and related products assemblers',
       'Building and fire inspectors',
       'Telecommunication equipment installers and repairers',
       'Plastic products machine operators', 'Industrial robot operators',
       'Chemical engineers', 'Dairy products machine operators',
       'Fishermen n. e. c.',
       'Science and mathematics teaching professionals',
       'Dental assistants',
       'Drivers of animal-drawn vehicles and machinery',
       'Postal service supervisors',
       'Science and mathematics elementary education teaching professionals',
       'Hunting and trapping laborers',
       'Other government associate professionals',
       'Coding, proof-reading and related clerks',
       'Geodetic engineers and related professionals',
       'Business machines mechanics and repairers',
       'Bleaching, dyeing and cleaning machine operators',
       'Other finance and sales associate professionals',
       'Life science technicians', 'Telephone switchboard operators',
       'Other animal raisers', 'Pharmaceutical assistants',
       'Petroleum and natural gas refining plant operators',
       'Builders (traditional materials)',
       'Maritime transport service supervisors',
       'Service and related workers', 'Medical equipment operators',
       'Electronics fitters',
       'Fiber preparing, spinning and winding machine operators',
       'Hunters and trappers',
       'Other business services and trade brokers',
       'Shoemaking and related machine operators',
       'Other aqua products cultivators',
       'Government social benefits officials',
       'Potters and related clay and abrasive formers',
       'Other creative or performing artists',
       'Other teaching professionals', 'Tree nut farmers',
       'Fiber preparers', 'Officers, n. e. c.',
       'Nursing associate professionals',
       'Vehicle, window and related cleaners',
       'Other engineers and related professionals', 'Physiotherapists',
       'Tanners', 'Glass and ceramics kiln and related machine operators',
       'Textile and leather products machine operators n. e. c.',
       'Optometrists and opticians', 'Locomotive engine drivers',
       'Chemical products machine operators n. e. c.', 'Wood treaters',
       'Electrical engineering technicians',
       'Advertising and public relations managers',
       'Paper pulp plant operators', 'Veterinarians',
       'Sewing machine operators',
       'Aircraft pilots, navigators and flight engineers',
       'Glass, ceramics and related plant operators n. e. c.'],
      dtype=object)

In [72]:
income_df['Household Head Occupation'] = income_df['Household Head Occupation'].replace(np.nan, 'Other')

### `Household Head Class of Worker` variable

In [73]:
income_df['Household Head Class of Worker'].value_counts()

Self-employed wihout any employee                             13766
Worked for private establishment                              13731
Worked for government/government corporation                   2820
Employer in own family-operated farm or business               2581
Worked for private household                                    811
Worked without pay in own family-operated farm or business      285
Worked with pay in own family-operated farm or business          14
Name: Household Head Class of Worker, dtype: int64

In [74]:
income_df['Household Head Class of Worker'] = income_df['Household Head Class of Worker'].replace(np.nan, 'Other')

In [75]:
income_df.isna().sum()

Total Household Income                           0
Region                                           0
Total Food Expenditure                           0
Main Source of Income                            0
Agricultural Household indicator                 0
Bread and Cereals Expenditure                    0
Total Rice Expenditure                           0
Meat Expenditure                                 0
Total Fish and  marine products Expenditure      0
Fruit Expenditure                                0
Vegetables Expenditure                           0
Restaurant and hotels Expenditure                0
Alcoholic Beverages Expenditure                  0
Tobacco Expenditure                              0
Clothing, Footwear and Other Wear Expenditure    0
Housing and water Expenditure                    0
Imputed House Rental Value                       0
Medical Care Expenditure                         0
Transportation Expenditure                       0
Communication Expenditure                        0
Education Expenditure                            0
Miscellaneous Goods and Services Expenditure     0
Special Occasions Expenditure                    0
Crop Farming and Gardening expenses              0
Total Income from Entrepreneurial Acitivites     0
Household Head Sex                               0
Household Head Age                               0
Household Head Marital Status                    0
Household Head Highest Grade Completed           0
Household Head Job or Business Indicator         0
Household Head Occupation                        0
Household Head Class of Worker                   0
Type of Household                                0
Total Number of Family members                   0
Members with age less than 5 year old            0
Members with age 5 - 17 years old                0
Total number of family members employed          0
Type of Building/House                           0
Type of Roof                                     0
Type of Walls                                    0
House Floor Area                                 0
House Age                                        0
Number of bedrooms                               0
Tenure Status                                    0
Toilet Facilities                                0
Electricity                                      0
Main Source of Water Supply                      0
Number of Television                             0
Number of CD/VCD/DVD                             0
Number of Component/Stereo set                   0
Number of Refrigerator/Freezer                   0
Number of Washing Machine                        0
Number of Airconditioner                         0
Number of Car, Jeep, Van                         0
Number of Landline/wireless telephones           0
Number of Cellular phone                         0
Number of Personal Computer                      0
Number of Stove with Oven/Gas Range              0
Number of Motorized Banca                        0
Number of Motorcycle/Tricycle                    0
dtype: int64

After performing another null checking, we can see there are no more null values found in all variables.

### Checking for Wrong Encodings, Duplicates, and Inconsistencies
Since all the null values are taken care of, we will now check the representations of the values in each categorical variable.

### `Region` variable

In [76]:
income_df['Region'].value_counts()

IVA - CALABARZON             4162
NCR                          4130
III - Central Luzon          3237
VI - Western Visayas         2851
VII - Central Visayas        2541
V - Bicol Region             2472
XI - Davao Region            2446
I - Ilocos Region            2348
VIII - Eastern Visayas       2337
 ARMM                        2248
II - Cagayan Valley          2219
XII - SOCCSKSARGEN           2122
X - Northern Mindanao        1887
IX - Zasmboanga Peninsula    1788
Caraga                       1782
CAR                          1725
IVB - MIMAROPA               1249
Name: Region, dtype: int64

After checking the `Region` variable, we can see that there are misrepresentations of whitespacing, wrong spelling, and inconsistency in the values such as ` ARMM`, `IX - Zasmboanga Peninsula`, and, `Caraga`, respectively, which are found to be dirty. We will replace these values with the appropriate representations.

In [77]:
income_df['Region'] = income_df['Region'].replace(' ARMM', 'ARMM')
income_df['Region'] = income_df['Region'].replace('IX - Zasmboanga Peninsula', 'IX - Zamboanga Peninsula')
income_df['Region'] = income_df['Region'].replace('Caraga', 'XIII - Caraga')

In [78]:
income_df['Region'].value_counts()

IVA - CALABARZON            4162
NCR                         4130
III - Central Luzon         3237
VI - Western Visayas        2851
VII - Central Visayas       2541
V - Bicol Region            2472
XI - Davao Region           2446
I - Ilocos Region           2348
VIII - Eastern Visayas      2337
ARMM                        2248
II - Cagayan Valley         2219
XII - SOCCSKSARGEN          2122
X - Northern Mindanao       1887
IX - Zamboanga Peninsula    1788
XIII - Caraga               1782
CAR                         1725
IVB - MIMAROPA              1249
Name: Region, dtype: int64

### `Main Source of Income` variable

In [79]:
income_df['Main Source of Income'].value_counts()

Wage/Salaries                 20388
Other sources of Income       10836
Enterpreneurial Activities    10320
Name: Main Source of Income, dtype: int64

There seems to be no misrepresentations in `Main Source of Income variable` upon checking.

### `Agricultural Household indicator` variable

In [80]:
income_df['Agricultural Household indicator'].value_counts()

0    28106
1     9018
2     4420
Name: Agricultural Household indicator, dtype: int64

There seems to be no misrepresentations in `Agricultural Household indicator` variable upon checking.

### `Household Head Sex` variable

In [81]:
income_df['Household Head Sex'].value_counts()

Male      32483
Female     9061
Name: Household Head Sex, dtype: int64

There seems to be no misrepresentations in `Household Head Sex variable` variable upon checking.

### `Household Head Marital Status` variable

In [82]:
income_df['Household Head Marital Status'].value_counts()

Married               31347
Widowed                6818
Single                 1942
Divorced/Separated     1425
Annulled                 11
Unknown                   1
Name: Household Head Marital Status, dtype: int64

We can see that there is a value `Unknown` as the very least observation compared to other values upon checking so we decided to drop its entire row from the dataset by replacing it with a null value then calling the `dropna` function.

In [83]:
income_df['Household Head Marital Status'] = income_df['Household Head Marital Status'].replace('Unknown', np.nan)

In [84]:
income_df = income_df.dropna()

### `Household Head Highest Grade Completed` variable

In [85]:
income_df['Household Head Highest Grade Completed'].value_counts()

High School Graduate                                                                                                                                                                                                   9627
Elementary Graduate                                                                                                                                                                                                    7640
Grade 4                                                                                                                                                                                                                2282
Grade 5                                                                                                                                                                                                                2123
Second Year High School                                                                                                                                                                                                2104
Grade 3                                                                                                                                                                                                                1994
Third Year High School                                                                                                                                                                                                 1545
Business and Administration Programs                                                                                                                                                                                   1344
Second Year College                                                                                                                                                                                                    1343
Grade 2                                                                                                                                                                                                                1311
First Year High School                                                                                                                                                                                                 1247
No Grade Completed                                                                                                                                                                                                     1228
Third Year College                                                                                                                                                                                                      924
Teacher Training and Education Sciences Programs                                                                                                                                                                        922
First Year College                                                                                                                                                                                                      907
Grade 1                                                                                                                                                                                                                 874
Engineering and Engineering Trades Programs                                                                                                                                                                             777
Engineering and Engineering trades Programs                                                                                                                                                                             522
Health Programs                                                                                                                                                                                                         339
Computing/Information Technology Programs                                                                                                                                                                               293
Security Services Programs                                                                                                                                                                                              252
Post Baccalaureate                                                                                                                                                                                                      247
Grade 6                                                                                                                                                                                                                 237
Agriculture, Forestry, and Fishery Programs                                                                                                                                                                             230
Transport Services Programs                                                                                                                                                                                             225
Second Year Post Secondary                                                                                                                                                                                              140
Social and Behavioral Science Programs                                                                                                                                                                                  132
Fourth Year College                                                                                                                                                                                                     124
First Year Post Secondary                                                                                                                                                                                               115
Personal Services Programs                                                                                                                                                                                               89
Humanities Programs                                                                                                                                                                                                      75
Other Programs in Education at the Third Level, First Stage, of the Type that Leads to an Award not Equivalent to a First University or Baccalaureate Degree                                                             66
Law Programs                                                                                                                                                                                                             39
Basic Programs                                                                                                                                                                                                           33
Architecture and Building Programs                                                                                                                                                                                       33
Journalism and Information Programs                                                                                                                                                                                      31
Arts Programs                                                                                                                                                                                                            23
Life Sciences Programs                                                                                                                                                                                                   19
Manufacturing and Processing Programs                                                                                                                                                                                    15
Preschool                                                                                                                                                                                                                15
Mathematics and Statistics Programs                                                                                                                                                                                      11
Social Services Programs                                                                                                                                                                                                 11
Other Programs of Education at the Third Level, First Stage, of the Type that Leads to a Baccalaureate or First University/Professional Degree (HIgher Education Level, First Stage, or Collegiate Education Level)       9
Physical Sciences Programs                                                                                                                                                                                                9
Veterinary Programs                                                                                                                                                                                                       9
Environmental Protection Programs                                                                                                                                                                                         8
Name: Household Head Highest Grade Completed, dtype: int64

We can see that there is a dirty duplicate value with letter casing issue surrounding the word `trades` between `Engineering and Engineering Trades Programs` and `Engineering and Engineering trades Programs` upon checking, so we decided to filter it by replacing the one with the lower case letter 't' with upper case 'T'.

In [86]:
income_df['Household Head Highest Grade Completed'] = income_df['Household Head Highest Grade Completed'].replace('Engineering and Engineering trades Programs', 'Engineering and Engineering Trades Programs')

In [87]:
income_df['Household Head Highest Grade Completed'].value_counts()

High School Graduate                                                                                                                                                                                                   9627
Elementary Graduate                                                                                                                                                                                                    7640
Grade 4                                                                                                                                                                                                                2282
Grade 5                                                                                                                                                                                                                2123
Second Year High School                                                                                                                                                                                                2104
Grade 3                                                                                                                                                                                                                1994
Third Year High School                                                                                                                                                                                                 1545
Business and Administration Programs                                                                                                                                                                                   1344
Second Year College                                                                                                                                                                                                    1343
Grade 2                                                                                                                                                                                                                1311
Engineering and Engineering Trades Programs                                                                                                                                                                            1299
First Year High School                                                                                                                                                                                                 1247
No Grade Completed                                                                                                                                                                                                     1228
Third Year College                                                                                                                                                                                                      924
Teacher Training and Education Sciences Programs                                                                                                                                                                        922
First Year College                                                                                                                                                                                                      907
Grade 1                                                                                                                                                                                                                 874
Health Programs                                                                                                                                                                                                         339
Computing/Information Technology Programs                                                                                                                                                                               293
Security Services Programs                                                                                                                                                                                              252
Post Baccalaureate                                                                                                                                                                                                      247
Grade 6                                                                                                                                                                                                                 237
Agriculture, Forestry, and Fishery Programs                                                                                                                                                                             230
Transport Services Programs                                                                                                                                                                                             225
Second Year Post Secondary                                                                                                                                                                                              140
Social and Behavioral Science Programs                                                                                                                                                                                  132
Fourth Year College                                                                                                                                                                                                     124
First Year Post Secondary                                                                                                                                                                                               115
Personal Services Programs                                                                                                                                                                                               89
Humanities Programs                                                                                                                                                                                                      75
Other Programs in Education at the Third Level, First Stage, of the Type that Leads to an Award not Equivalent to a First University or Baccalaureate Degree                                                             66
Law Programs                                                                                                                                                                                                             39
Basic Programs                                                                                                                                                                                                           33
Architecture and Building Programs                                                                                                                                                                                       33
Journalism and Information Programs                                                                                                                                                                                      31
Arts Programs                                                                                                                                                                                                            23
Life Sciences Programs                                                                                                                                                                                                   19
Manufacturing and Processing Programs                                                                                                                                                                                    15
Preschool                                                                                                                                                                                                                15
Mathematics and Statistics Programs                                                                                                                                                                                      11
Social Services Programs                                                                                                                                                                                                 11
Other Programs of Education at the Third Level, First Stage, of the Type that Leads to a Baccalaureate or First University/Professional Degree (HIgher Education Level, First Stage, or Collegiate Education Level)       9
Physical Sciences Programs                                                                                                                                                                                                9
Veterinary Programs                                                                                                                                                                                                       9
Environmental Protection Programs                                                                                                                                                                                         8
Name: Household Head Highest Grade Completed, dtype: int64

### `Household Head Job or Business Indicator`

In [88]:
income_df['Household Head Job or Business Indicator'].value_counts()

With Job/Business    34007
No Job/Business       7536
Name: Household Head Job or Business Indicator, dtype: int64

There seems to be no misrepresentations in `Household Head Job or Business Indicator` variable upon checking.

### `Household Head Occupation` variable

In [89]:
income_df['Household Head Occupation'].unique()

array(['General elementary education teaching professionals',
       'Transport conductors', 'Farmhands and laborers', 'Rice farmers',
       'General managers/managing proprietors in transportation, storage and communications',
       'Heavy truck and lorry drivers', 'Other', 'Hog raising farmers',
       'Vegetable farmers',
       'General managers/managing proprietors in wholesale and retail trade',
       'Stocks clerks', 'Justices', 'Other social science professionals',
       'Protective services workers n. e. c.', 'Secretaries',
       'Electronics mechanics and servicers',
       'Foresters and related scientists',
       'Shop salespersons and demonstrators',
       'College, university and higher education teaching professionals',
       'General managers/managing proprietors of restaurants and hotels',
       'Welders and flamecutters', 'Car, taxi and van drivers',
       'Motor vehicle mechanics and related trades workers',
       'Traditional chiefs and heads of villages', 'Motorcycle drivers',
       'Statistical, mathematical and related associate professionals',
       'Lineman, line installers and cable splicers',
       'Carpenters and joiners', 'Building construction laborers',
       'General managers/managing proprietors in manufacturing',
       'Masons and related concrete finishers', 'Legislative officials',
       'Inland and coastal waters fishermen',
       'Painters and related workers',
       'Construction and maintenance laborers: roads, dams and similar constructions',
       'Helpers and cleaners in offices, hotels and other establishments',
       'General managers/managing proprietors n. e. c.',
       'Messengers, package and luggage porters and deliverers',
       'Social work associate professionals',
       'Hand packers and other manufacturing laborers',
       'Door-to-door and telephone salespersons',
       'Hand launderers and pressers', 'Sweepers and related laborers',
       'Medical technologists',
       'Production and operations managers in agriculture, hunting, forestry and fishery',
       'Corn farmers', 'Cooks', 'School supervisors and principals',
       'Tailors, dressmakers and hatters',
       'Wood and related products assemblers',
       'Police inspectors and detectives', 'Coconut farmers',
       'Root crops farmers', 'Fruit tree farmers',
       'Coffee and cacao farmers', 'Forestry laborers',
       'Other office clerks',
       'General managers/managing proprietors of business services',
       'School principals', 'Civil engineers', 'Prison guards',
       "Ship's deck crews and related workers", 'Assembling laborers',
       'Tellers and other counter clerks',
       'Government administrators (including career executive service officers)',
       'Plumbers, pipe fitters and other related workers',
       'Mechanical engineering technicians', 'Street ambulant vendors',
       'Production supervisors and general foremen', 'Food preservers',
       'Basketry weavers, brush makers and related workers',
       'Statistical and finance clerks',
       'Non-ordained religious associate professionals',
       'Wood products machine operators',
       'Building and related electricians',
       'Production and operations managers in restaurant and hotels',
       'Other supervisors, n. e. c.', 'Other orchard farmers',
       'Building caretakers',
       'Doorkeepers, watchpersons and related workers',
       'Waiters, waitresses and bartenders',
       "Ships' deck officers and pilots", 'Child care workers',
       'Mining and quarrying laborers', 'Religious professionals',
       'Earth-moving and related plant operators',
       'General managers/managing proprietors in agriculture, hunting, forestry and fishing',
       'Motorized farm and forestry plant operators',
       'Domestic helpers and cleaners',
       'Broadcasting and telecommunications equipment operators',
       'General secondary education teaching professionals',
       'Accounting and bookkeeping clerks',
       'Chemical processing plant operators n. e. c.', 'Freight handlers',
       'Fishery laborers and helpers', 'Data entry operators',
       'Miners and quarry workers', 'Police officers',
       'Cabinet/furniture makers and related workers', 'Duck raisers',
       'Blacksmiths, hammersmiths, and forging-press workers',
       'General managers/managing proprietors in personal care, cleaning and relative services',
       'Butchers, fishmongers and related food preparers',
       'Cotton and fiber crops farmers', 'Forest tree planters',
       'Bet bookmakers and croupiers', 'Transport clerks',
       'Enlisted personnel n. e. c.',
       'Directors and chief executives of corporations',
       'Combat soldiers', 'Concessionaires and loggers',
       'Institution-based personal care workers',
       'Market and sidewalk stall vendors',
       'Minor forest products gatherers',
       'Debt collectors and related workers',
       'Vocational education teaching professionals',
       'Wood processing plant operators', 'Shotfirers and blasters',
       'Fruit, vegetable and nut processing machine operators',
       'Lifting truck operators',
       'Bakers, pastry cooks and confectionery makers',
       'Photographic products machine operators',
       'Rattan, bamboo and other wicker furniture makers',
       'Chicken farmers', 'Mining-plant operators',
       'Rubber products machine operators',
       'Pawnbrokers and money lenders', 'Sheet-metal workers',
       'Fish-farm cultivators (excluding prawns)',
       'General managers/managing proprietors in construction',
       'Stall and market salespersons',
       'Handicraft workers in wood and related materials',
       'Weavers, knitters and related workers',
       'Traditional medicine practitioners',
       'Personnel and industrial relations managers',
       'Cement and other mineral products machine operators',
       'Firefighters', 'Undertakers and embalmers',
       'Hairdressers, barbers, beauticians and related workers',
       'Shoe cleaning and other street services elementary occupations',
       'Silk-screen, block and textile printers',
       'Choreographers and dancers', 'Garbage collectors',
       'Ornamental plant growers', 'Cashiers and ticket clerks',
       'Varnishers and related painters', 'Accountants and auditors',
       'Personal care and related workers, n. e. c.',
       'Library and filing clerks', 'Cattle and dairy farmers',
       'Structural-metal preparers, erectors and related workers',
       'Other livestock farmers',
       'Production and operations managers in transport, storage and communications',
       'Sales and marketing managers',
       'Grain and spice milling machine operators', 'Deep-sea fishermen',
       'Mechanical engineers',
       'Production and operations managers in manufacturing',
       'Agronomists and related scientists',
       'Research and development managers',
       'Computer equipment operators',
       'Other administrative associate professionals', 'Bookkeepers',
       'Midwifery associate professionals',
       'Other machine operators and assemblers',
       'Sewers, Embroiderers and related workers',
       'Safety, health and quality inspectors (vehicles, processes and products)',
       'Electronic equipment assemblers',
       'Textile, leather and related patternmakers and cutters',
       'Roofers', 'Other field crop farmers', 'Sugarcane farmers',
       'Power production plant operators', 'Other poultry farmers',
       'Metal-wheel grinders, polishers and tool sharpeners',
       'Other computer professionals', 'Electrical mechanics and fitters',
       'Metal finishing, plating and coating machine operators',
       'Professional nurses',
       'Professional, technical and related officers',
       'Charcoal makers and related workers',
       'Athletes and related workers',
       'Decorators and commercial designers',
       'Automated assembly-line operators',
       'Labor contractors and employment agents',
       'Sugar production machine operators', 'Veterinary assistants',
       'Glass makers, cutters, grinders and finishers',
       'Production and operations managers in personal care, cleaning and relative services',
       'Tool-makers and related workers',
       'Transport and communications service supervisors n. e. c.',
       'Other specialized managers', 'Riggers and cable splicers',
       'Production and operations managers in wholesale and retail trade',
       'Field legumes farmers', 'Staff officers', 'Estate agents',
       'Technical and commercial sales representatives',
       'Computer programmers', 'Receptionists and information clerks',
       'Pharmacists', 'Housekeepers and related workers',
       'Appraisers and valuers', 'Government tax and excise officials',
       'Administrative secretaries and related associate professionals',
       'Bus drivers', 'Teaching associate professionals', 'Architects',
       'Finance and administration managers', 'Commanding officers',
       'Nutritionists-dietitians', 'Professional midwives',
       'Street, nightclub and related musicians, singers and dancers',
       'Electrical Engineers',
       'Mining and metallurgical engineering technicians', 'Draftsmen',
       'Computer engineers and related professionals',
       'Other life science technicians', 'Dairy products makers',
       'Legal and related business associate professionals',
       'Mail carriers and sorting clerks',
       'Well drillers and borers and related workers',
       'Other business professionals',
       'Production and operations managers in construction',
       'Farm technicians', 'Economists',
       'Building frame and related trades workers n. e. c.', 'Chemists',
       'Insurance representatives', 'Civil engineering technicians',
       'Word processor and related operators', 'Production clerks',
       'Meat and fish processing machine operators',
       'Other personal services workers, n. e. c.',
       'Crane, hoist and related plant operators',
       'Composers, musicians and singers',
       'Photographers and image and sound recording equipment operators',
       'Hand or pedal vehicle drivers', 'Statisticians',
       'Customs and immigration inspectors',
       'Electronics and communications engineers',
       'Fashion and other models',
       'Metal melters, caster and rolling mill operators',
       'Weaving and knitting machine operators',
       'Personnel and human resource development professionals',
       'Mechanical machinery assemblers',
       'Workers reporting occupations unidentifiable or inadequately defined',
       'Sales supervisors in retail trade', 'Metal drawers and extruders',
       'Floor layers and tile setters', 'Systems analysts and designers',
       'Government licensing officials',
       'Librarians, archivists and curators',
       'Incinerator, water treatment and related plant operators',
       'Town planners and related professionals',
       'Home-based personal care workers',
       'Education methods specialists',
       'Sculptors, painters and related artists', 'Buyers',
       'Other health associate professionals (except nursing)',
       'Precision instrument makers and repairers', 'Medical assistants',
       'Medical doctors', 'Compositors, typesetters and related workers',
       'Faith healers', 'Travel consultants and organizers',
       'Air transport service supervisors', 'Companions and valets',
       'Senior officials of humanitarian and other special-interest organizations',
       'Electrical equipment assemblers',
       'Metal, rubber and plastic products assemblers',
       'Electronics and communications engineering technicians',
       'Industrial engineers',
       'Baked goods and cereal and chocolate products machine operators',
       'Metal molders and coremakers', 'Lawyers', 'Dentists',
       'Marine craft mechanics',
       'Pre-elementary education teaching professionals',
       'Bookbinders and related workers',
       'Jewelry and precious metal workers', 'Travel guides',
       'Social work professionals',
       'Musical instrument makers and tuners',
       'Machine-tool setters and setter operators',
       'Stenographers and typists',
       'Stone splitters, cutters and carvers',
       'Ship and aircraft controllers and technicians',
       'Photographic and related workers', 'Computer assistants',
       'Aircraft engine mechanics and fitters',
       'Production and operations managers in business services',
       'Woodworking machine setters and setter-operators',
       'Food and beverage tasters and graders',
       'Technical and vocational instructors/trainors', 'Trade brokers',
       'Radio, television and other announcers',
       'Air traffic safety technicians', 'Other plant growers',
       'Pressman letterpresses and related workers',
       'Other health professionals (except nursing)',
       'Mineral ore and stone-processing plant operators',
       'Shoemakers and related workers',
       'Agricultural or industrial machinery mechanics and fitters',
       'Nonformal education teaching professionals other than technical and vocational trainors/instructors',
       'Seaweeds cultivators', 'Upholsterers and related workers',
       'Sales supervisors in wholesale trade', 'Insulation workers',
       'Machine tool operators', 'Authors, journalists and other writers',
       'Technician, skilled, semi-skilled workers',
       'Tobacco preparers and tobacco products makers',
       'Other physical science and engineering technicians',
       'Other sales supervisors',
       'Brewers and wine and other beverage machine operators',
       'Supply and distribution managers', 'Papermaking plant operators',
       'Pharmaceutical and toiletry products machine operators',
       'Paperboard, textile and related products assemblers',
       'Building and fire inspectors',
       'Telecommunication equipment installers and repairers',
       'Plastic products machine operators', 'Industrial robot operators',
       'Chemical engineers', 'Dairy products machine operators',
       'Fishermen n. e. c.',
       'Science and mathematics teaching professionals',
       'Dental assistants',
       'Drivers of animal-drawn vehicles and machinery',
       'Postal service supervisors',
       'Science and mathematics elementary education teaching professionals',
       'Hunting and trapping laborers',
       'Other government associate professionals',
       'Coding, proof-reading and related clerks',
       'Geodetic engineers and related professionals',
       'Business machines mechanics and repairers',
       'Bleaching, dyeing and cleaning machine operators',
       'Other finance and sales associate professionals',
       'Life science technicians', 'Telephone switchboard operators',
       'Other animal raisers', 'Pharmaceutical assistants',
       'Petroleum and natural gas refining plant operators',
       'Builders (traditional materials)',
       'Maritime transport service supervisors',
       'Service and related workers', 'Medical equipment operators',
       'Electronics fitters',
       'Fiber preparing, spinning and winding machine operators',
       'Hunters and trappers',
       'Other business services and trade brokers',
       'Shoemaking and related machine operators',
       'Other aqua products cultivators',
       'Government social benefits officials',
       'Potters and related clay and abrasive formers',
       'Other creative or performing artists',
       'Other teaching professionals', 'Tree nut farmers',
       'Fiber preparers', 'Officers, n. e. c.',
       'Nursing associate professionals',
       'Vehicle, window and related cleaners',
       'Other engineers and related professionals', 'Physiotherapists',
       'Tanners', 'Glass and ceramics kiln and related machine operators',
       'Textile and leather products machine operators n. e. c.',
       'Optometrists and opticians', 'Locomotive engine drivers',
       'Chemical products machine operators n. e. c.', 'Wood treaters',
       'Electrical engineering technicians',
       'Advertising and public relations managers',
       'Paper pulp plant operators', 'Veterinarians',
       'Sewing machine operators',
       'Aircraft pilots, navigators and flight engineers',
       'Glass, ceramics and related plant operators n. e. c.'],
      dtype=object)

There seems to be no misrepresentations in `Household Head Occupation` variable upon checking. This is the variable earlier that had significant number of observations with null values

### `Household Head Class of Worker` variable

In [90]:
income_df['Household Head Class of Worker'].value_counts()

Self-employed wihout any employee                             13765
Worked for private establishment                              13731
Other                                                          7536
Worked for government/government corporation                   2820
Employer in own family-operated farm or business               2581
Worked for private household                                    811
Worked without pay in own family-operated farm or business      285
Worked with pay in own family-operated farm or business          14
Name: Household Head Class of Worker, dtype: int64

There seems to be no misrepresentations in `Household Head Class of Worker` variable upon checking. This is also another variable earlier that had significant number of observations with null values

### `Type of Household` variable

In [91]:
income_df['Type of Household'].value_counts()

Single Family                             28444
Extended Family                           12932
Two or More Nonrelated Persons/Members      167
Name: Type of Household, dtype: int64

There seems to be no misrepresentations in `Type of Household` variable upon checking.

### `Type of Building/House` variable

In [92]:
income_df['Type of Building/House'].value_counts()

Single house                                   39069
Multi-unit residential                          1328
Duplex                                          1084
Commercial/industrial/agricultural building       51
Institutional living quarter                       9
Other building unit (e.g. cave, boat)              2
Name: Type of Building/House, dtype: int64

There seems to be no misrepresentations in `Type of Building/House` variable upon checking.

### `Type of Roof` variable

In [93]:
income_df['Type of Roof'].value_counts()

Strong material(galvanized,iron,al,tile,concrete,brick,stone,asbestos)    33342
Light material (cogon,nipa,anahaw)                                         5074
Mixed but predominantly strong materials                                   2002
Mixed but predominantly light materials                                     845
Salvaged/makeshift materials                                                212
Mixed but predominantly salvaged materials                                   56
Not Applicable                                                               12
Name: Type of Roof, dtype: int64

There seems to be no misrepresentations in `Type of Roof` variable upon checking.

### `Type of Walls` variable

In [94]:
income_df['Type of Walls'].value_counts()

Strong            27739
Light              8267
Quite Strong       3487
Very Light         1582
Salvaged            456
NOt applicable       12
Name: Type of Walls, dtype: int64

We can see that there is an inconsistency in the value `NOt applicable` so we decided to fix it following how it is represented in other variables.

### `Tenure Status` variable

In [95]:
income_df['Tenure Status'].value_counts()

Own or owner-like possession of house and lot        29540
Own house, rent-free lot with consent of owner        6165
Rent house/room including lot                         2203
Rent-free house and lot with consent of owner         2014
Own house, rent-free lot without consent of owner      995
Own house, rent lot                                    425
Rent-free house and lot without consent of owner       128
Not Applicable                                          73
Name: Tenure Status, dtype: int64

There seems to be no misrepresentations in `Tenure Status` variable upon checking.

### `Toilet Facilities` variable

In [96]:
income_df['Toilet Facilities'].value_counts()

Water-sealed, sewer septic tank, used exclusively by household    29161
Water-sealed, sewer septic tank, shared with other household       3694
Water-sealed, other depository, used exclusively by household      2343
Closed pit                                                         2273
None                                                               1580
Open pit                                                           1189
Water-sealed, other depository, shared with other household         950
Others                                                              353
Name: Toilet Facilities, dtype: int64

There seems to be no misrepresentations in `Toilet Facilities` variable upon checking.

### `Main Source of Water Supply` variable

In [97]:
income_df['Main Source of Water Supply'].value_counts()

Own use, faucet, community water system    16092
Shared, tubed/piped deep well               6242
Shared, faucet, community water system      4614
Own use, tubed/piped deep well              4587
Dug well                                    3876
Protected spring, river, stream, etc        2657
Tubed/piped shallow well                    1394
Peddler                                      851
Unprotected spring, river, stream, etc       607
Lake, river, rain and others                 496
Others                                       127
Name: Main Source of Water Supply, dtype: int64

There seems to be no misrepresentations in `Main Source of Water Supply` variable upon checking.

## Feature Extraction

In [115]:
income_df.head(15)

,Total Household Income,Region,Total Food Expenditure,Main Source of Income,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,480332,CAR,117848,Wage/Salaries,0,42140,38300,24676,16806,3325,...,1,1,0,0,0,2,1,0,0,1
1,198235,CAR,67766,Wage/Salaries,0,17329,13008,17434,11073,2035,...,0,1,0,0,0,3,1,0,0,2
2,82785,CAR,61609,Wage/Salaries,1,34182,32001,7783,2590,1730,...,0,0,0,0,0,0,0,0,0,0
3,107589,CAR,78189,Wage/Salaries,0,34030,28659,10914,10812,690,...,0,0,0,0,0,1,0,0,0,0
4,189322,CAR,94625,Wage/Salaries,0,34820,30167,18391,11309,1395,...,1,0,0,0,0,3,0,0,0,1
5,152883,CAR,73326,Wage/Salaries,0,29065,25190,15336,8572,2614,...,0,1,0,0,0,4,0,0,0,1
6,198621,CAR,104644,Wage/Salaries,0,40992,36312,12968,12310,2565,...,0,0,0,0,0,2,0,0,0,1
7,134961,CAR,95644,Other sources of Income,1,37168,28156,14640,15896,3365,...,0,1,0,0,0,2,0,0,0,1
8,171152,CAR,67348,Other sources of Income,0,23117,15845,11464,6685,1370,...,0,0,0,0,0,2,0,0,0,0
9,625753,CAR,158721,Enterpreneurial Activities,0,56003,43239,26488,25678,3880,...,1,0,0,1,0,4,1,0,0,0
10,147005,CAR,79530,Enterpreneurial Activities,1,36588,30167,11174,7674,1709,...,1,0,0,0,0,1,0,0,0,1
11,253130,CAR,111250,Wage/Salaries,0,46521,39217,20548,15841,1475,...,0,0,0,0,0,6,0,0,0,0
12,101111,CAR,88523,Enterpreneurial Activities,1,40531,36200,14322,8344,2200,...,0,0,0,0,0,1,0,0,0,0
13,128214,CAR,62262,Enterpreneurial Activities,1,26874,23130,10034,6971,2350,...,0,1,0,0,0,1,0,0,0,1
14,91525,CAR,45487,Other sources of Income,1,19668,16142,5430,6670,1860,...,0,0,0,0,0,0,0,0,0,0

In [108]:
### Are there supposed to be 2s here?
income_df['Agricultural Household indicator'].value_counts()

0    28106
1     9018
2     4419
Name: Agricultural Household indicator, dtype: int64

In [109]:
### Here are the rows with 2s
income_df.loc[income_df['Agricultural Household indicator'] == 2]

,Total Household Income,Region,Total Food Expenditure,Main Source of Income,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
36634,97694,IX - Zamboanga Peninsula,23238,Wage/Salaries,2,9741,0,2452,4534,226,...,0,0,0,0,0,1,0,0,0,0
36635,99204,IX - Zamboanga Peninsula,55409,Other sources of Income,2,12095,120,11905,5662,805,...,0,0,0,0,0,1,0,0,0,0
36636,100990,IX - Zamboanga Peninsula,45618,Wage/Salaries,2,16731,4342,2401,8247,1140,...,0,0,0,0,0,1,0,0,0,0
36637,236742,NCR,136315,Enterpreneurial Activities,2,38729,32214,33926,20719,1315,...,0,0,0,0,0,3,0,0,0,0
36638,72663,NCR,41140,Other sources of Income,2,7942,4930,2990,5260,288,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41535,166600,XII - SOCCSKSARGEN,90786,Other sources of Income,2,23658,20118,4406,23539,3899,...,0,0,0,0,0,4,0,0,0,0
41536,185100,XII - SOCCSKSARGEN,87008,Other sources of Income,2,19693,15918,9145,20584,3068,...,0,1,0,0,0,2,0,1,0,0
41537,72000,XII - SOCCSKSARGEN,56760,Wage/Salaries,2,18441,15424,2017,10623,1683,...,0,0,0,0,0,2,0,0,0,0
41538,130636,XII - SOCCSKSARGEN,81469,Wage/Salaries,2,28563,23457,4728,12496,3508,...,0,1,0,0,0,3,0,1,0,0
41541,133171,XII - SOCCSKSARGEN,45882,Enterpreneurial Activities,2,28646,27339,480,4796,1232,...,0,0,0,0,0,1,0,0,0,0

## Data Visualization and Analysis

### Average Total Household Incomes Between Urban and Rural Households

In [ ]:
# I'm not sure how to extract which households are urban or rural. I think I can use 'Agricultural Household indicator' instead?
# I think it indicates which households are involved in agriculture which I think is similar enough?

### Educational Attainment of Household Head and Location

In [ ]:
# Household Head Highest Grade Completed
# Region

### Average Food Expenditure of Household by Region

In [120]:
# Total Food Expenditure
# Region

### Average Total Income of Households with at Least One Minor

In [ ]:
# Members with age less than 5 year old
# Members with age 5 - 17 years old

### Average Expenditures on Clothing, Footwear, and Other Wear by Region

In [116]:
# Clothing, Footwear and Other Wear Expenditure
# Region

## Summary of Findings

## Recommendations

## References